#ecommerce {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  transition: opacity 2s;
}

#ecomm-con {
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

header {
  height: 125px;
  width: 100%;
  display: none;
  background-color: #1a1818;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 25;
}

.drop h1 {
  width: 100px;
  height: 25px;
  margin: 0 auto;
}

#home {
  height: 100%;
  width: 125px;
  box-sizing: border-box;
  margin-left: 100px;
  display: flex;
  align-items: center;
  border-right: 2px solid white;
  border-left: 2px solid white;
  flex-direction: column;
  transition: color 1s;
  color: white;
  transition-delay: width .5s;
}

#home a {
  margin: auto;
}

#home:hover {
  color: grey
}

#home div {
  margin: auto;
}

#nav {
  height: 100%;
  width: 500px;
  display: flex;
  position: absolute;
  right: 300px;
  flex-direction: row;
  display: flex;
  color: white;
}

#nav li {
  margin: auto;
  transition: color .5s;
  display: flex;
  align-items: center;
}

#nav li:hover {
  color: grey;
}

#learn:hover > #header-drpdwn {
  height: 200px;
}


#nav:hover > #drop-con {
  opacity: 1;
}

#primary-nav {
  height: 50%;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: row;
  display: flex;
}

#primary-nav a:after {
  padding-left: .625rem;
  font-size: 25px;
  content: "\00B7";
  color: white;
}

#hide {
  height: 25px;
  width: 400px;
  right: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  position: absolute;
}

#hide a {
  margin: auto;
}

#hide a:hover {
  color: #01FB01;
}

#hide h3 {
  margin: auto;
  text-align: center;
}

#header-drpdwn {
  height: 0px;
  width: 100%;
  margin: 64px 0;
  left: 0;
  position: fixed;
  background-color: #1a1818;
  z-index: 10;
  opacity: .8;
  color: white;
  transition: 1s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

#learn-con {
  width: 80%;
  border: 1px solid white;
  height: 80%;
  opacity: 0;
  display: flex;
  transition: opacity 1s;
  flex-direction: row;
  margin: auto;
}

.dropitem h2 {
  width: 100px;
  font-size: 16px;
  overflow: hidden;
  transition: 1s;
}

.dropitem h2:hover {
  color: grey
}

.dropitem li {
  height: 100px;
  margin: 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.dropitem {
  height: 100%;
  margin-left: 200px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#profile {
  height: 100px;
  width: 100px;
  margin: auto;
  display: flex;
}

#profile a {
  margin: auto;
}

#ecomm-con {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#owl-carousel {
  height: 100vh;
  width: 100%;
  position: relative;
}

#one {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../assets/architecture-buildings.jpg");
}

#hero-text {
  height: 250px;
  width: 450px;
  left: 200px;
  top: 325px;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid #01FB01;
  background-color: #1a1818;
  opacity: .9
}

#hero-text h1, #hero-text h2 {
  margin: 10px;
  color: #01FB01;
}

#hero-text p {
  line-height: 2;
  margin: 10px;
  color: white;
}

/* #two {
  background-image: url("../assets/adults-business-coffee.jpg");
}

#one {
  background-image: url("../assets/beautifulcell.jpg");
}

#one {
  background-image: url("../assets/car-computer.jpg");
} */

#content {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
}

#foot-links {
  height: 100%;
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: 1s;
}

#social-links {
  height: 100%;
  width: 200px;
  margin: auto;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#foot-links ul {
  width: 100px;
  padding: 0;
  margin: auto;
  text-align: center;
}

#foot-links ul:hover {
  font-size: 19px;
  color: teal
}

#social-links ul {
  height: 25px;
  width: 100px;
  padding: 0;
  margin: auto;
  text-align: center;
}

footer ul {
  transition: font-size .5s;
}

#social-links ul:hover {
  font-size: 16px;
  color: teal
}

footer {
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  border-top: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: row;
}
