@import url("ecomm.css");
@import url("school.css");

html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
